@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --BG-COLOR: rgb(255, 228, 196);
    --CARD-COLOR: rgb(223, 199, 171);
    --SHADOW-COLOR: rgba(63, 56, 47, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.5rem;
    font-family: 'Schibsted Grotesk', sans-serif;
    background-color: var(--BG-COLOR);
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

main {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

div {
    width: 200px;
    height: 200px;
    display: grid;
    place-content: center;
    background-color: var(--CARD-COLOR);
    border-radius: 1rem;
    box-shadow: 5px 5px 15px 0.5px var(--SHADOW-COLOR);
}

h1 {
    font-size: 1rem;
}

div:first-child {
    background-color: aqua;
}
div:nth-child(2) {
    background-color: rgb(222, 118, 231);
}
div:nth-child(3) {
    background-color: orangered;
}